body {
    background-image: url('bg.jpg');
    background-size: 100%;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.carouselExampleIndicators {
    width: 100%;
    height: 1080px;
    margin-top: 56px;
    padding: 0;
    overflow: hidden;
}

.h1 {
    font-size: 300px;
    text-align: left;
}

.container {
    display: flex;
}

.container .img-fluid:first-child {
    width: 100%;
}

.img-fluid {
    transition: all .3s;
}

/*.img-fluid:hover {
    width: 50%;
}*/

.container:hover .img-fluid:not(:hover) {
    transform: scale(0.9);
}